name: 'Terraform Apply (Deploy)'

on:
  push:
    branches:
      - main
    paths:
      - '**/*.tf'

env:
  TF_VERSION: "1.5.0"
  AWS_REGION: "ap-southeast-1"
  # Ganti Role ARN OIDC berikut sesuai yang dicetak pada output Fase 1
  AWS_ROLE_ARN: "arn:aws:iam::683915449775:role/SkyBridge-GitHubActions-Role"

jobs:
  terraform-apply:
    name: 'Terraform Apply'
    runs-on: ubuntu-latest
    
    # Required permissions for GitHub OIDC
    permissions:
      id-token: write
      contents: read

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Configure AWS Credentials with OIDC
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ env.AWS_ROLE_ARN }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: ${{ env.TF_VERSION }}

    - name: Terraform Init
      run: terraform init

    - name: Terraform Apply
      run: terraform apply -auto-approve
